[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
gtts = "*"
mutagen = "*"
ffmpeg = "*"
youtube-dl = "*"
wikipedia = "*"
googletrans = "==4.0.0-rc1"
requests = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
